
<div class="formulaire m-5">
  <div class="background-blur">
    <div class="container-form">
      <h4>Create a new passport</h4>
      <%= render 'form', passport: @passport %>
    </div>
  </div>
</div>
